<div class="container">
	<h1>Modifier <%= @monster.name %></h1>
</div>


<%= render 'form', monster: @monster %>
<div class="container">
	<%= link_to 'Voir', @monster ,class:'btn' %> 
<%= link_to 'Retour', monsters_path, class:'btn' %>
</div>

