<div class="container">
	<h1>Carte du monde</h1>



  <div>
    <p><%= link_to "Le village", town_path, class: 'btn' %></p>
    <% @donjons.each do |a| %>
      <% if a.level <= current_user.avatar.countUnlockDonjon || current_user.role === "admin"%>
        <p><%= link_to a.name, a, class: 'btn' %></p>
        <% if current_user.role === "admin" %>
        <p><%= link_to 'Edit', edit_donjon_path(a), class: 'btn' %></p>
        <% end %>
      <% end %>
    <% end %>
  </div>


<% if current_user.role === "admin" %>
	<p><%= link_to 'Nouveau Donjon', new_donjon_path, class: 'btn' %></p>
<% end %>

</div>
