<p id="notice"><%= notice %></p>

<h1>Donjons</h1>

<h2>avatar</h2>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>agility</th>
      <th>force</th>
      <th>intelgence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @avatars.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><%= defined?a.objets.first.name %></td>

        <% @objets.each do |o| %>
          <% @title = 'Ajouter '+o.name%>
          <td><%= link_to @title, {controller: "avatars", action: "addObjetById", avatar_id: a.id, objet_id: o.id }, method: 'get' %></td>
          
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>





<br>



