<p id="notice"><%= notice %></p>

<h1>Donjons</h1>



  <div>
    <% @donjons.each do |a| %>
        <p><%= link_to a.name, a %></p>
        <p><%= link_to 'Edit', edit_donjon_path(a) %></p>
    <% end %>
  </div>

