<div class="bg-black">
	<h1>Game Over</h1>
	<p>Les monstres du donjons vous ont dépouillé de certain de vos objets...</p>
	<%= link_to "Continuer", current_user.avatar, class: 'btn btn--white' %>
</div>