<h1>Bienvenue sur LittleGame</h1>


<% if user_signed_in? %>
<p>
	<%= link_to 'Déconnection' , destroy_user_session_path, :method => :delete %>
</p>

<p>
	<%= link_to 'créer mon avatar', new_avatar_path %>
</p>

<%# current_user %>

<% else %>

<p>
	<%= link_to 'Commencer', new_user_session_path %>
</p>

<% end %>