<div class="shop inn">
<div class="wall">
	<h1>Auberge</h1>
	<% if current_user.avatar.money >= 3 %>
		<%= link_to "Se reposer (3 Or)", {controller: "avatars", action: "rest"} ,remote: true, class: 'btn btn--white'%>
	<%end%>
</div>
	
</div><!-- 
--><div class="shop drugstore-portal">
	<div class="wall">
		<h1>Droguerie</h1>
		<div class="btn btn--white" data-shop="#drugstore">Entrer</div>
	</div>
	
</div><!-- 
--><div class="shop wrought-portal">
	<div class="wall">
		<h1>Forge</h1>
		<div class="btn btn--white" data-shop="#wrought">Entrer</div>
	</div>
</div>

<div class="rest js-rest">
	<p class="glitch">Qui suis-je ?</p>
	<p class="glitch">Où suis-je ?</p>
	<p class="glitch">Pourquoi ?</p>
</div>

<div id="drugstore" class="shopin">
	<% @objetDroguery.each do |o| %>
		<% if @avatar.money >= o.price %>
			<%= link_to "Acheter "+o.name.to_s+" ("+o.price.to_s+" Or)", {controller: "avatars", action: "payObjetById"} ,remote: true, class: 'btn btn--white'%>
		<% end %>
	<% end %>
	<div class="btn btn--white js-exit">Sortir</div>
</div>
<div id="wrought" class="shopin">
	<% @objetForge.each do |o| %>
		<% if @avatar.money >= o.price %>
			<%= link_to "Acheter "+o.name.to_s+" ("+o.price.to_s+" Or)", {controller: "avatars", action: "payObjetById"} ,remote: true, class: 'btn btn--white'%>
		<% end %>
	<% end %>
	<div class="btn btn--white js-exit">Sortir</div>
</div>