<div class="container">
	<h1>Modifier une Quête </h1>
</div>
<%= render 'form', quete: @quete %>

<div class="container">
	<%= link_to 'Voir', @quete, class: 'btn' %>
	<%= link_to 'Retour', quetes_path, class: 'btn' %>
</div>

