/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $principal-font : 'Poiret One', cursive;
 $black : #242322;


/**********************

MENU

*********************/


$color-stack:
(group: primary, id: normal, color: #fff),
(group: complement, id: normal, color: #242322);

@function color($group, $shade:normal, $transparency:1) {
	@each $color in $color-stack {
		$c-group: map-get($color, group);
		$c-shade: map-get($color, id);
		@if($group == map-get($color, group) and $shade == map-get($color, id)){
			@return rgba(map-get($color, color), $transparency);
		}
	}
}

$b-height: 60px; //Height (and width) of the burger menu
$b-margin-top: 30px; //Burger menu margin (distance from top)
$b-margin-left: 30px; //Burger menu margin (distance from left)
$b-border-width: 2px; //Width of the borders and 'buns'
$b-bun-width: 25px; //Width of the 'buns'
$b-bun-height: $b-border-width; //Height of the 'buns'
$b-border-radius: 50%; //Change the border radius of the menu

$b-trans-speed: .4s; //Transition speed settings
$b-transition: all $b-trans-speed ease; //Transitions

$b-font-size: 24px; //Font size of brand and links
$b-font-family: $principal-font; //Font family of the brand and links
$b-font-weight: 300; //Font weight of brand and links
$b-txt-pad: 30px; //Left padding on both brand and links

$b-line-height: ($b-height / 2 - ($b-font-size / 2.8)); //Vertically centers brand to menu
$b-txt-pad-top: ($b-margin-top + $b-height + $b-txt-pad); //Top margin for first link element
$b-bun-width-half: ($b-bun-width / 2); //Half bun width used for calculation
$b-pad-left: ($b-height / 2 - $b-bun-width-half - 2); //Horizontally centers bun in menu
$b-pad-top: ($b-height / 2 - $b-bun-width-half); //Vertically centers bun in menu

@keyframes slideInLeft {
	0% {
		transform: translate3d(-250px, 0, 0);
		visibility: visible;
	}

	100% {
		transform: translate3d(0, 0, 0);
	}
}

@keyframes slideOutLeft {
	0% {
		transform: translate3d(0, 0, 0);
	}

	100% {
		transform: translate3d(-250px, 0, 0);
		visibility: hidden;
	}
}

* {
	box-sizing: border-box;
}

body {
	-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	&:after {
		background: color(primary);
		content: '';
		height: 100%;
		left: 0;
		opacity: 0;
		overflow: auto;
		padding: 0;
		position: absolute;
		top: 0;
		transition: $b-transition;
		width: 100%;
		z-index: -1;
	}

	&.open {
		overflow: hidden;
		&:after {
			z-index: 1;
		}

	}

	&.open:after {
		opacity: 1;
		visibility: visible;
	}
}

.b-nav {
	position: absolute;
	z-index: 11;

	&:not(.open) {
		visibility: hidden;
	}

	li {
		color: color(complement);
		list-style-type: none;
		padding: 10px;
		text-align: left;
		transform: translateX(-250px);
	}

	li:not(.open) {
		animation-duration: $b-trans-speed;
		animation-fill-mode: both;
		animation-name: slideOutLeft;
	}

	li:first-child {
		padding-top: $b-txt-pad-top;
	}

	&.open {
		visibility: visible;

		li {
			animation-duration: $b-trans-speed;
			animation-fill-mode: both;
			animation-name: slideInLeft;
		}
	}
}

.b-link {
	background: transparent;
	border-left: color(complement, normal, 0) solid $b-border-width;
	color: color(complement);
	font-family: $b-font-family;
	font-size: $b-font-size;
	font-weight: $b-font-weight;
	margin-left: $b-margin-left;
	text-decoration: none;
	transition: $b-transition;
	width: auto;

	&:hover,
	&--active {
		border-left: color(complement) solid $b-border-width;
		padding-left: $b-txt-pad;
	}
}

.b-menu {
	background: color(primary);
	border: color(primary) solid $b-border-width;
	border-radius: $b-border-radius;
	cursor: pointer;
	display: inline-block;
	height: $b-height;
	padding-left: $b-pad-left;
	padding-top: $b-pad-top;
	position: relative;
	transition: $b-transition;
	-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	width: $b-height;
	z-index: 12;

	&:hover {
		border: color(complement) solid $b-border-width;
	}
}

.history {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 300;

	&.history-0 {
		.btn {
			position: absolute;
		    bottom: 80px;
		    right: 80px;
		    background: #fff;

		    &:hover {
		    	background: #242322;
		    }
		}
	}

	.overlay {
		background: #242322;
		opacity: 0.8;
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
	}
	.content-history {
		color: #fff;

		svg {
			height: 100vh;
			width: 100vw;
		}
	}
}



.b-bun {
	background: color(complement);
	position: relative;
	transition: $b-transition;

	&--top {
		height: $b-bun-height;
		top: 0;
		width: $b-bun-width;
	}

	&--mid {
		height: $b-bun-height;
		top: 8px;
		width: $b-bun-width;
	}

	&--bottom {
		height: $b-bun-height;
		top: 16px;
		width: $b-bun-width;
	}
}

.b-brand {
	color: color(primary);
	font-family: 'Cabin Sketch', cursive;
	font-size: $b-font-size;
	font-weight: $b-font-weight;
	margin-left: $b-txt-pad;
	position: relative;
	text-decoration: none;
	top: -$b-line-height;
	transition: $b-transition;
	z-index: 13;
}

.b-container {
	height: $b-height;
	left: $b-margin-left;
	position: absolute;
	top: $b-margin-top;

	&:hover:not(.open) {
		.bun-top,
		.bun-mid,
		.bun-bottom {
			background: color(primary);
		}
	}

	&.open {
		.b-main {
			border: color(complement) solid $b-border-width;
		}

		.b-bun--top {
			background: color(complement);
			top: 9px;
			transform: rotate(45deg);
		}

		.b-bun--mid {
			opacity: 0;
		}

		.b-bun--bottom {
			background: color(complement);
			top: 5px;
			transform: rotate(-45deg);
		}

		.b-brand {
			color: color(complement);
		}
	}
}



html, body {	
	font-family: 'Poiret One', cursive;
	font-size: 18px;
	margin: 0;
	height: 100%;
}
p, a, button, ul, li, h2, h3, h4 {
	font-family: $principal-font;
	font-size: 18px;
}
.user-info {
	position: fixed;
	bottom: 0;
	right: -327px;
	border: 1px solid #242322;
	background: #fff;
	width: 327px;
	transition: all 1s;
	text-align: left;

	&.open {
		right: 0;
		transition: all 1s;
	}

	p {
		margin: 10px;
		color: #242322;
		text-align: left;
	}

	a {
		color: #242322;
	}
	.close-user {
		height: 45px;
		width: 45px;
		background: $black;
		position: absolute;
		left: -45px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
	}
	.link {
		width: 45px;
		height: 45px;
		display: block;
		position: relative;
		background: transparent;
		z-index: 200;
	}
	.link__icon__bar {
		background: #FFF;
		width: 34px;
		height: 2px;
		position: absolute;
		transition: transform 300ms ease;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		&:before, &:after {
			position: absolute;
			content: '';
			left: 16px;
			background: #FFF;
			width: 2px;
			height: 16px;
			transition: transform 300ms ease, top 300ms ease, left 300ms ease, bottom 300ms ease;
		}
		&:before { bottom: 100%; }
		&:after { top: 100%; }
	}

	.link.open {
		.link__icon__bar {
			transform: rotate(180deg);
			&:before, &:after {
				left: 4px;
			}
			&:before {
				transform: rotate(45deg);
				bottom: -2px;
			}
			&:after {
				transform: rotate(-45deg);
				top: -2px;
			}
		}
	}
}

.messages {
	position: fixed;
	background: black;
	left: -200%;
	top: 10px;
	color: white;

	p {
		margin: 20px;
	}
}

.log {
	display: inline-block;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	vertical-align: top;
	padding-top: 20vh;

	h2 {
		text-align: center;
	}

	form {
		padding: 20px 50px;
		margin: 0 auto;
		max-width: 70%;
	}

}


label {
	margin-bottom: 10px;
}
.input {
	margin-bottom: 10px;
}
input:not([type='checkbox']) {
	border: 1px solid $black;
	padding: 10px; 
	box-sizing: border-box;
	width: 100%;
	background: white;
	outline: none;
}
input[type='submit']:hover {
	background: $black;
	cursor: pointer;
}
.selectbox {
	position: relative;
	width: 100%;
	border: 1px solid #242322;
	z-index: 1;
	margin-bottom: 10px;
	box-sizing: border-box;

}

.selectbox:before {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	width: 0;
	height: 0;
	margin-top: -1px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #242322;
}

.selectbox label {
	position: absolute;
	top: 1px;
	left: 5px;
	padding: 6px .5em;
	color: #242322;
	z-index: -1;
}

.selectbox select {
	width: 100%;
	height: auto;
	line-height: normal;
	font-family: inherit;
	padding: 6px .5em;
	border: 0;
	opacity: 0;
	filter:alpha(opacity=0);
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.half {
	display: inline-block;
	box-sizing:border-box;
	width: 50%; 
	&.right {
		padding-left: 5px;
	}
	&.left {
		padding-right: 5px;
	}
}
.container {
	max-width: 70%;
	margin: 0 auto;
}
textarea {
	border: 1px solid #242322; 
	background: #fff;
	min-height: 90px;
	max-height: 90px;
	min-width: 100%;
	max-width: 100%;
	box-sizing:border-box;
}
.hidden {
	visibility: hidden;
	height: 0;
}
.contentAnimeText {
	position: relative;

	&.center {
		width: 100%;
		min-height: 70px;
		p {
			text-align: center;
			width: 100%;
			display: block;
			margin: 0;
		}
	}

	.annimTextWhite{
		color: #FFF;
		position: absolute;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-animation: blackToWhite 1s linear;
		animation: blackToWhite 1s linear;
	}
	.annimTextBlack{
		color: #FFF;
		position: absolute;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		-webkit-animation: blackToWhite 1s linear;
		animation: blackToWhite 1s linear;
	}
}


@keyframes "whiteToBlack" {
	0% {
		color: #FFF;
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	100% {
		color: #242322;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@-webkit-keyframes "whiteToBlack" {
	0% {
		color: #FFF;
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	100% {
		color: #242322;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes "blackToWhite" {
	0% {
		color: #242322;
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	100% {
		color: #FFF;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
@-webkit-keyframes "blackToWhite" {
	0% {
		color: #242322;
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
	100% {
		color: #FFF;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}



.loading{
	position: fixed;
	font-family: 'Cabin Sketch', cursive;
	top:0;
	z-index: 99999;
	left:0;
	height: 100vh;
	width: 100vw;

	*,
	*:before,
	*:after {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		box-sizing: border-box;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	.screen {
		position: relative;
		z-index: 1;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.figure {
		display: block;
		position: absolute;
		z-index: 1;
		width: 0;
		height: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		border-top: 200px solid #242322;
		border-right: 100px solid transparent;
		border-left: 100px solid transparent;
		border-bottom: 0 solid transparent;
	}
	.figure:before {
		display: block;
		content: '';
		position: absolute;
		z-index: 99;
		width: 0;
		height: 0;
		top: -194px;
		left: -90px;
		margin: auto;
		border-top: 180px solid #fff;
		border-right: 90px solid transparent;
		border-left: 90px solid transparent;
		border-bottom: 0 solid transparent;
	}
	.figure-mask {
		display: block;
		position: absolute;
		z-index: 99;
		width: 0;
		height: 0;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		border-top: 200px solid transparent;
		border-right: 100px solid #fff;
		border-left: 100px solid #fff;
		border-bottom: 0 solid transparent;
	}
	.glitchContent {
		display: block;
		position: absolute;
		z-index: 9;
		width: 720px;
		height: 128px;
		text-align: center;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		cursor: default;
	}
	.glitchContent span {
		display: block;
		position: relative;
		font-size: 28px;
		line-height: 1;
	}
	.glitchContent.is-off {
		-webkit-animation: is-off 2s linear infinite !important;
		animation: is-off 2s linear infinite !important;
	}
	.glitch:before {
		position: absolute;
		z-index: 999999;
		content: '';
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	.glitch .figure,
	.glitch .figure-mask {
		-webkit-transform: skewX(0deg) scaleY(1);
		transform: skewX(0deg) scaleY(1);
		-webkit-animation: tr-bag 4s linear infinite;
		animation: tr-bag 4s linear infinite;
	}
	.glitch .glitchContent {
		-webkit-transform: skewX(0deg) scaleY(1);
		transform: skewX(0deg) scaleY(1);
		-webkit-animation: clock-bag 4s linear infinite;
		animation: clock-bag 4s linear infinite;
	}
	.glitch .glitchContent span:before,
	.glitch .glitchContent span:after {
		display: block;
		position: absolute;
		top: 0;
		color: #242322;
		background: #fff;
		overflow: hidden;
		width: 720px;
		height: 128px;
		clip: rect(0, 900px, 0, 0);
	}
	.glitch .glitchContent span:before {
		left: -2px;
		text-shadow: 2px 0 #00f;
		-webkit-animation: c2 1s infinite linear alternate-reverse;
		animation: c2 1s infinite linear alternate-reverse;
	}
	.glitch .glitchContent span:after {
		left: 3px;
		text-shadow: -2px 0 #f00;
		-webkit-animation: c1 2s infinite linear alternate-reverse;
		animation: c1 2s infinite linear alternate-reverse;
	}

	&.in {
		background: transparent;
		-webkit-animation: loadwhiteIn 4s linear;
		animation: loadwhiteIn 4s linear;
	}
	&.out {
		background: #fff;
		-webkit-animation: loadwhiteOut 4s linear;
		animation: loadwhiteOut 4s linear;
	}
	

	&.black {	

		&.in {
			background: transparent;
			-webkit-animation: loadblackIn 4s linear;
			animation: loadblackIn 4s linear;
		}
		&.out {
			background: #242322;
			-webkit-animation: loadblackOut 4s linear;
			animation: loadblackOut 4s linear;
		}

		.screen {
			position: relative;
			z-index: 1;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		.figure {
			display: block;
			position: absolute;
			z-index: 1;
			width: 0;
			height: 0;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			border-top: 200px solid #fff;
			border-right: 100px solid transparent;
			border-left: 100px solid transparent;
			border-bottom: 0 solid transparent;
		}
		.figure:before {
			display: block;
			content: '';
			position: absolute;
			z-index: 99;
			width: 0;
			height: 0;
			top: -194px;
			left: -90px;
			margin: auto;
			border-top: 180px solid #242322;
			border-right: 90px solid transparent;
			border-left: 90px solid transparent;
			border-bottom: 0 solid transparent;
		}
		.figure-mask {
			display: block;
			position: absolute;
			z-index: 99;
			width: 0;
			height: 0;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			border-top: 200px solid transparent;
			border-right: 100px solid #242322;
			border-left: 100px solid #242322;
			border-bottom: 0 solid transparent;
		}
		.glitchContent {
			display: block;
			position: absolute;
			z-index: 9;
			width: 720px;
			height: 128px;
			text-align: center;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			cursor: default;
		}
		.glitchContent span {
			display: block;
			position: relative;
			font-size: 28px;
			line-height: 1;
		}
		.glitchContent.is-off {
			-webkit-animation: is-off 2s linear infinite !important;
			animation: is-off 2s linear infinite !important;
		}
		.glitch:before {
			position: absolute;
			z-index: 999999;
			content: '';
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		.glitch .figure,
		.glitch .figure-mask {
			-webkit-transform: skewX(0deg) scaleY(1);
			transform: skewX(0deg) scaleY(1);
			-webkit-animation: tr-bag 4s linear infinite;
			animation: tr-bag 4s linear infinite;
		}
		.glitch .glitchContent {
			-webkit-transform: skewX(0deg) scaleY(1);
			transform: skewX(0deg) scaleY(1);
			-webkit-animation: clock-bag 4s linear infinite;
			animation: clock-bag 4s linear infinite;
		}
		.glitch .glitchContent span:before,
		.glitch .glitchContent span:after {
			display: block;
			position: absolute;
			top: 0;
			color: #fff;
			background: #242322;
			overflow: hidden;
			width: 720px;
			height: 128px;
			clip: rect(0, 900px, 0, 0);
		}
		.glitch .glitchContent span:before {
			left: -2px;
			text-shadow: 2px 0 #00f;
			-webkit-animation: c2 1s infinite linear alternate-reverse;
			animation: c2 1s infinite linear alternate-reverse;
		}
		.glitch .glitchContent span:after {
			left: 3px;
			text-shadow: -2px 0 #f00;
			-webkit-animation: c1 2s infinite linear alternate-reverse;
			animation: c1 2s infinite linear alternate-reverse;
		}
	}



}

@-webkit-keyframes is-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  72% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  73% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #242322;
  }
  92% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000;
  }
  93% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #242322;
  }
}
@keyframes is-off {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  56% {
    opacity: 0;
  }
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  72% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  73% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81% {
    opacity: 0;
  }
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #242322;
  }
  92% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: #008000;
  }
  93% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #242322;
  }
}
@-webkit-keyframes c1 {
  0% {
    clip: rect(34px, 9999px, 4px, 0);
  }
  5% {
    clip: rect(59px, 9999px, 33px, 0);
  }
  10% {
    clip: rect(83px, 9999px, 38px, 0);
  }
  15.000000000000002% {
    clip: rect(75px, 9999px, 48px, 0);
  }
  20% {
    clip: rect(74px, 9999px, 16px, 0);
  }
  25% {
    clip: rect(44px, 9999px, 62px, 0);
  }
  30.000000000000004% {
    clip: rect(43px, 9999px, 86px, 0);
  }
  35.00000000000001% {
    clip: rect(79px, 9999px, 13px, 0);
  }
  40% {
    clip: rect(71px, 9999px, 46px, 0);
  }
  45% {
    clip: rect(9px, 9999px, 2px, 0);
  }
  50% {
    clip: rect(48px, 9999px, 41px, 0);
  }
  55% {
    clip: rect(24px, 9999px, 92px, 0);
  }
  60.00000000000001% {
    clip: rect(31px, 9999px, 73px, 0);
  }
  65% {
    clip: rect(40px, 9999px, 47px, 0);
  }
  70.00000000000001% {
    clip: rect(14px, 9999px, 82px, 0);
  }
  75% {
    clip: rect(28px, 9999px, 90px, 0);
  }
  80% {
    clip: rect(43px, 9999px, 14px, 0);
  }
  85% {
    clip: rect(93px, 9999px, 18px, 0);
  }
  90% {
    clip: rect(12px, 9999px, 45px, 0);
  }
  95% {
    clip: rect(57px, 9999px, 60px, 0);
  }
  100% {
    clip: rect(17px, 9999px, 73px, 0);
  }
}
@keyframes c1 {
  0% {
    clip: rect(34px, 9999px, 4px, 0);
  }
  5% {
    clip: rect(59px, 9999px, 33px, 0);
  }
  10% {
    clip: rect(83px, 9999px, 38px, 0);
  }
  15.000000000000002% {
    clip: rect(75px, 9999px, 48px, 0);
  }
  20% {
    clip: rect(74px, 9999px, 16px, 0);
  }
  25% {
    clip: rect(44px, 9999px, 62px, 0);
  }
  30.000000000000004% {
    clip: rect(43px, 9999px, 86px, 0);
  }
  35.00000000000001% {
    clip: rect(79px, 9999px, 13px, 0);
  }
  40% {
    clip: rect(71px, 9999px, 46px, 0);
  }
  45% {
    clip: rect(9px, 9999px, 2px, 0);
  }
  50% {
    clip: rect(48px, 9999px, 41px, 0);
  }
  55% {
    clip: rect(24px, 9999px, 92px, 0);
  }
  60.00000000000001% {
    clip: rect(31px, 9999px, 73px, 0);
  }
  65% {
    clip: rect(40px, 9999px, 47px, 0);
  }
  70.00000000000001% {
    clip: rect(14px, 9999px, 82px, 0);
  }
  75% {
    clip: rect(28px, 9999px, 90px, 0);
  }
  80% {
    clip: rect(43px, 9999px, 14px, 0);
  }
  85% {
    clip: rect(93px, 9999px, 18px, 0);
  }
  90% {
    clip: rect(12px, 9999px, 45px, 0);
  }
  95% {
    clip: rect(57px, 9999px, 60px, 0);
  }
  100% {
    clip: rect(17px, 9999px, 73px, 0);
  }
}
@-webkit-keyframes c2 {
  0% {
    clip: rect(46px, 9999px, 7px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 22px, 0);
  }
  10% {
    clip: rect(18px, 9999px, 76px, 0);
  }
  15.000000000000002% {
    clip: rect(77px, 9999px, 71px, 0);
  }
  20% {
    clip: rect(94px, 9999px, 29px, 0);
  }
  25% {
    clip: rect(27px, 9999px, 11px, 0);
  }
  30.000000000000004% {
    clip: rect(80px, 9999px, 75px, 0);
  }
  35.00000000000001% {
    clip: rect(10px, 9999px, 6px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 3px, 0);
  }
  45% {
    clip: rect(83px, 9999px, 91px, 0);
  }
  50% {
    clip: rect(58px, 9999px, 76px, 0);
  }
  55% {
    clip: rect(28px, 9999px, 61px, 0);
  }
  60.00000000000001% {
    clip: rect(88px, 9999px, 57px, 0);
  }
  65% {
    clip: rect(78px, 9999px, 73px, 0);
  }
  70.00000000000001% {
    clip: rect(73px, 9999px, 43px, 0);
  }
  75% {
    clip: rect(63px, 9999px, 56px, 0);
  }
  80% {
    clip: rect(86px, 9999px, 83px, 0);
  }
  85% {
    clip: rect(78px, 9999px, 75px, 0);
  }
  90% {
    clip: rect(74px, 9999px, 31px, 0);
  }
  95% {
    clip: rect(42px, 9999px, 37px, 0);
  }
  100% {
    clip: rect(26px, 9999px, 21px, 0);
  }
  23% {
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
}
@keyframes c2 {
  0% {
    clip: rect(46px, 9999px, 7px, 0);
  }
  5% {
    clip: rect(52px, 9999px, 22px, 0);
  }
  10% {
    clip: rect(18px, 9999px, 76px, 0);
  }
  15.000000000000002% {
    clip: rect(77px, 9999px, 71px, 0);
  }
  20% {
    clip: rect(94px, 9999px, 29px, 0);
  }
  25% {
    clip: rect(27px, 9999px, 11px, 0);
  }
  30.000000000000004% {
    clip: rect(80px, 9999px, 75px, 0);
  }
  35.00000000000001% {
    clip: rect(10px, 9999px, 6px, 0);
  }
  40% {
    clip: rect(64px, 9999px, 3px, 0);
  }
  45% {
    clip: rect(83px, 9999px, 91px, 0);
  }
  50% {
    clip: rect(58px, 9999px, 76px, 0);
  }
  55% {
    clip: rect(28px, 9999px, 61px, 0);
  }
  60.00000000000001% {
    clip: rect(88px, 9999px, 57px, 0);
  }
  65% {
    clip: rect(78px, 9999px, 73px, 0);
  }
  70.00000000000001% {
    clip: rect(73px, 9999px, 43px, 0);
  }
  75% {
    clip: rect(63px, 9999px, 56px, 0);
  }
  80% {
    clip: rect(86px, 9999px, 83px, 0);
  }
  85% {
    clip: rect(78px, 9999px, 75px, 0);
  }
  90% {
    clip: rect(74px, 9999px, 31px, 0);
  }
  95% {
    clip: rect(42px, 9999px, 37px, 0);
  }
  100% {
    clip: rect(26px, 9999px, 21px, 0);
  }
  23% {
    -webkit-transform: scaleX(0.8);
            transform: scaleX(0.8);
  }
}
@-webkit-keyframes clock-bag {
  0% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  2% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  4% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  6% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  8% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  10% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  12% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  14.000000000000002% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  16% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  18% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  20% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  22% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  24% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  26% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  28.000000000000004% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  30% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  32% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  34% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  36% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  38% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  40% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  42% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  44% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  46.00000000000001% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  48% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  50% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  52% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  54% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  56.00000000000001% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  58% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  60% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  62% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  64% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  66% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  68% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  70.00000000000001% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  72% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  74% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  76% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  78% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  80% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  82.00000000000001% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  84% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  86% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  88% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  90% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  92.00000000000001% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  94% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  96% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  98% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  100% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@keyframes clock-bag {
  0% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  2% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  4% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  6% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  8% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  10% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  12% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  14.000000000000002% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  16% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  18% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  20% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  22% {
    -webkit-transform: translate(5px, 5px);
            transform: translate(5px, 5px);
  }
  24% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  26% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  28.000000000000004% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  30% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  32% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  34% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  36% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  38% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  40% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  42% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  44% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  46.00000000000001% {
    -webkit-transform: translate(2px, 5px);
            transform: translate(2px, 5px);
  }
  48% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  50% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  52% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  54% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  56.00000000000001% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  58% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  60% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  62% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  64% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  66% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  68% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  70.00000000000001% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  72% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  74% {
    -webkit-transform: translate(1px, 5px);
            transform: translate(1px, 5px);
  }
  76% {
    -webkit-transform: translate(1px, 1px);
            transform: translate(1px, 1px);
  }
  78% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  80% {
    -webkit-transform: translate(4px, 3px);
            transform: translate(4px, 3px);
  }
  82.00000000000001% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  84% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  86% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  88% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  90% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  92.00000000000001% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  94% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  96% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  98% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  100% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@-webkit-keyframes tr-bag {
  0% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  2% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  4% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  6% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  8% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  10% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  12% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  14.000000000000002% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  16% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  18% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  20% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  22% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  24% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  26% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  28.000000000000004% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  30% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  32% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  34% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  36% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  38% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  40% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  42% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  44% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  46.00000000000001% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  48% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  50% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  52% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  54% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  56.00000000000001% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  58% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  60% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  62% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  64% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  66% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  68% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  70.00000000000001% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  72% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  74% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  76% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  78% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  80% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  82.00000000000001% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  84% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  86% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  88% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  90% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  92.00000000000001% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  94% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  96% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  98% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  100% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@keyframes tr-bag {
  0% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  2% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  4% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  6% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  8% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  10% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  12% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  14.000000000000002% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  16% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  18% {
    -webkit-transform: translate(3px, 4px);
            transform: translate(3px, 4px);
  }
  20% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  22% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  24% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  26% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  28.000000000000004% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  30% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  32% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  34% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  36% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  38% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  40% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  42% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  44% {
    -webkit-transform: translate(4px, 5px);
            transform: translate(4px, 5px);
  }
  46.00000000000001% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  48% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  50% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  52% {
    -webkit-transform: translate(3px, 1px);
            transform: translate(3px, 1px);
  }
  54% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  56.00000000000001% {
    -webkit-transform: translate(4px, 2px);
            transform: translate(4px, 2px);
  }
  58% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  60% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  62% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  64% {
    -webkit-transform: translate(1px, 4px);
            transform: translate(1px, 4px);
  }
  66% {
    -webkit-transform: translate(2px, 1px);
            transform: translate(2px, 1px);
  }
  68% {
    -webkit-transform: translate(5px, 3px);
            transform: translate(5px, 3px);
  }
  70.00000000000001% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  72% {
    -webkit-transform: translate(2px, 4px);
            transform: translate(2px, 4px);
  }
  74% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  76% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  78% {
    -webkit-transform: translate(2px, 3px);
            transform: translate(2px, 3px);
  }
  80% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  82.00000000000001% {
    -webkit-transform: translate(3px, 2px);
            transform: translate(3px, 2px);
  }
  84% {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  86% {
    -webkit-transform: translate(1px, 2px);
            transform: translate(1px, 2px);
  }
  88% {
    -webkit-transform: translate(1px, 3px);
            transform: translate(1px, 3px);
  }
  90% {
    -webkit-transform: translate(5px, 4px);
            transform: translate(5px, 4px);
  }
  92.00000000000001% {
    -webkit-transform: translate(3px, 5px);
            transform: translate(3px, 5px);
  }
  94% {
    -webkit-transform: translate(4px, 4px);
            transform: translate(4px, 4px);
  }
  96% {
    -webkit-transform: translate(5px, 2px);
            transform: translate(5px, 2px);
  }
  98% {
    -webkit-transform: translate(4px, 1px);
            transform: translate(4px, 1px);
  }
  100% {
    -webkit-transform: translate(3px, 3px);
            transform: translate(3px, 3px);
  }
  1% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    -webkit-transform: scaleY(3) skewX(-60deg);
            transform: scaleY(3) skewX(-60deg);
  }
  2% {
    -webkit-transform: scaleY(1) skewX(0deg);
            transform: scaleY(1) skewX(0deg);
  }
  51% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    -webkit-transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
            transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    -webkit-transform: scaleX(1) scaleY(1) skewX(0deg);
            transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
