// Place all the styles related to the Donjons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// #avatar {
// 	height: 200px;
// 	width: 200px;
// 	div {
//     position : absolute;
//     left : 10px;
//     bottom : 207px;
// }
// 	.frame1 {
//     width : 11px;
//     height : 11px;
//     -webkit-animation : idle ease-in-out 7s infinite;
//     animation : idle ease-in-out 7s infinite;
//     box-shadow : 30px 80px #3c272a,10px 110px #3c272a,10px 100px #3c272a,20px 90px #3c272a,20px 80px #3c272a,30px 90px #3c272a,30px 70px #3c272a,40px 70px #3c272a,30px 60px #3c272a,30px 50px #3c272a,30px 40px #3c272a,30px 30px #3c272a,40px 30px #3c272a,30px 20px #3c272a,40px 20px #3c272a,30px 10px #3c272a,20px 10px #3c272a,40px 80px #3c272a,40px 90px #3c272a,30px 100px #3c272a,30px 110px #3c272a,40px 100px #3c272a,40px 110px #3c272a,30px 120px #3c272a,40px 120px #3c272a,50px 120px #3c272a,60px 120px #3c272a,80px 120px #3c272a,90px 110px #3c272a,90px 100px #3c272a,50px 140px #3c272a,60px 140px #3c272a,70px 140px #3c272a,70px 150px #3c272a,70px 160px #3c272a,30px 140px #3c272a,30px 150px #3c272a,30px 160px #3c272a,30px 170px #3c272a,0px 120px #502723,0px 130px #502723,30px 130px #502723,40px 130px #502723,30px 180px #502723,30px 190px #502723,70px 120px #502723,40px 140px #403d3f,40px 150px #403d3f,40px 160px #403d3f,80px 140px #403d3f,80px 150px #403d3f,80px 160px #403d3f,50px 130px #793926,60px 130px #793926,80px 130px #793926,80px 180px #793926,80px 190px #793926,70px 110px #793926,70px 100px #793926,70px 90px #793926,70px 80px #793926,120px 110px #793926,80px 170px #3c272a,80px 110px #403d3f,80px 100px #403d3f,80px 90px #403d3f,80px 80px #403d3f,80px 70px #403d3f,60px 70px #403d3f,50px 70px #403d3f,50px 80px #403d3f,60px 80px #403d3f,50px 90px #403d3f,60px 90px #403d3f,60px 100px #403d3f,50px 100px #403d3f,50px 110px #403d3f,60px 110px #403d3f,90px 60px #403d3f,90px 50px #403d3f,90px 40px #403d3f,90px 30px #403d3f,80px 30px #403d3f,80px 20px #403d3f,70px 20px #403d3f,60px 20px #403d3f,50px 20px #403d3f,50px 30px #403d3f,70px 30px #403d3f,60px 30px #403d3f,40px 10px #403d3f,50px 10px #403d3f,60px 10px #403d3f,100px 110px #403d3f,110px 110px #403d3f,70px 130px #cba287,70px 70px #a27547,40px 60px #a27547,40px 50px #a27547,40px 40px #a27547,50px 40px #503b26,60px 40px #a27547,70px 40px #a27547,80px 40px #503b26,50px 50px #f4ae67,50px 60px #f4ae67,60px 60px #f4ae67,60px 50px #f4ae67,70px 50px #f4ae67,120px 120px #cba287,120px 130px #cba287,120px 100px #502723,80px 50px #f4ae67,80px 60px #f4ae67,70px 60px #f4ae67;
// }
//  .frame2 {
//     width : 11px;
//     height : 11px;
//     -webkit-animation : blink ease-in-out 7s infinite;
//     animation : blink ease-in-out 7s infinite;
//     box-shadow : 30px 80px #3c272a,10px 110px #3c272a,10px 100px #3c272a,20px 90px #3c272a,20px 80px #3c272a,30px 90px #3c272a,30px 70px #3c272a,40px 70px #3c272a,30px 60px #3c272a,30px 50px #3c272a,30px 40px #3c272a,30px 30px #3c272a,40px 30px #3c272a,30px 20px #3c272a,40px 20px #3c272a,30px 10px #3c272a,20px 10px #3c272a,40px 80px #3c272a,40px 90px #3c272a,30px 100px #3c272a,30px 110px #3c272a,40px 100px #3c272a,40px 110px #3c272a,30px 120px #3c272a,40px 120px #3c272a,50px 120px #3c272a,60px 120px #3c272a,80px 120px #3c272a,90px 110px #3c272a,90px 100px #3c272a,50px 140px #3c272a,60px 140px #3c272a,70px 140px #3c272a,70px 150px #3c272a,70px 160px #3c272a,30px 140px #3c272a,30px 150px #3c272a,30px 160px #3c272a,30px 170px #3c272a,0px 120px #502723,0px 130px #502723,30px 130px #502723,40px 130px #502723,30px 180px #502723,30px 190px #502723,70px 120px #502723,40px 140px #403d3f,40px 150px #403d3f,40px 160px #403d3f,80px 140px #403d3f,80px 150px #403d3f,80px 160px #403d3f,50px 130px #793926,60px 130px #793926,80px 130px #793926,80px 180px #793926,80px 190px #793926,70px 110px #793926,70px 100px #793926,70px 90px #793926,70px 80px #793926,120px 110px #793926,80px 170px #3c272a,80px 110px #403d3f,80px 100px #403d3f,80px 90px #403d3f,80px 80px #403d3f,80px 70px #403d3f,60px 70px #403d3f,50px 70px #403d3f,50px 80px #403d3f,60px 80px #403d3f,50px 90px #403d3f,60px 90px #403d3f,60px 100px #403d3f,50px 100px #403d3f,50px 110px #403d3f,60px 110px #403d3f,90px 60px #403d3f,90px 50px #403d3f,90px 40px #403d3f,90px 30px #403d3f,80px 30px #403d3f,80px 20px #403d3f,70px 20px #403d3f,60px 20px #403d3f,50px 20px #403d3f,50px 30px #403d3f,70px 30px #403d3f,60px 30px #403d3f,40px 10px #403d3f,50px 10px #403d3f,60px 10px #403d3f,100px 110px #403d3f,110px 110px #403d3f,70px 130px #cba287,70px 70px #a27547,40px 60px #a27547,40px 50px #a27547,40px 40px #a27547,50px 40px #a27547,60px 40px #a27547,70px 40px #a27547,80px 40px #a27547,50px 50px #f4ae67,50px 60px #f4ae67,60px 60px #f4ae67,60px 50px #f4ae67,70px 50px #f4ae67,120px 120px #cba287,120px 130px #cba287,120px 100px #502723,80px 50px #f4ae67,80px 60px #f4ae67,70px 60px #f4ae67;
// }
//  .frame3 {
//     width : 11px;
//     height : 11px;
//     -webkit-animation : spin1 ease-in-out 7s infinite;
//     animation : spin1 ease-in-out 7s infinite;
//     box-shadow : 30px 80px #3c272a,10px 110px #3c272a,10px 100px #3c272a,20px 90px #3c272a,20px 80px #3c272a,30px 90px #3c272a,30px 70px #3c272a,40px 70px #3c272a,30px 60px #3c272a,30px 50px #3c272a,30px 40px #3c272a,30px 30px #3c272a,40px 30px #3c272a,30px 20px #3c272a,40px 20px #3c272a,30px 10px #3c272a,20px 10px #3c272a,40px 80px #3c272a,40px 90px #3c272a,30px 100px #3c272a,30px 110px #3c272a,40px 100px #3c272a,40px 110px #3c272a,30px 120px #3c272a,40px 120px #3c272a,50px 120px #3c272a,60px 120px #3c272a,80px 120px #3c272a,90px 110px #3c272a,90px 100px #3c272a,50px 140px #3c272a,60px 140px #3c272a,70px 140px #3c272a,70px 150px #3c272a,70px 160px #3c272a,30px 140px #3c272a,30px 150px #3c272a,30px 160px #3c272a,30px 170px #3c272a,0px 120px #502723,0px 130px #502723,30px 130px #502723,40px 130px #502723,30px 180px #502723,30px 190px #502723,70px 120px #502723,40px 140px #403d3f,40px 150px #403d3f,40px 160px #403d3f,80px 140px #403d3f,80px 150px #403d3f,80px 160px #403d3f,50px 130px #793926,60px 130px #793926,80px 130px #793926,80px 180px #793926,80px 190px #793926,70px 110px #793926,70px 100px #793926,70px 90px #793926,70px 80px #793926,120px 110px #793926,80px 170px #3c272a,80px 110px #403d3f,80px 100px #403d3f,80px 90px #403d3f,80px 80px #403d3f,80px 70px #403d3f,60px 70px #403d3f,50px 70px #403d3f,50px 80px #403d3f,60px 80px #403d3f,50px 90px #403d3f,60px 90px #403d3f,60px 100px #403d3f,50px 100px #403d3f,50px 110px #403d3f,60px 110px #403d3f,90px 60px #403d3f,90px 50px #403d3f,90px 40px #403d3f,90px 30px #403d3f,80px 30px #403d3f,80px 20px #403d3f,70px 20px #403d3f,60px 20px #403d3f,50px 20px #403d3f,50px 30px #403d3f,70px 30px #403d3f,60px 30px #403d3f,40px 10px #403d3f,50px 10px #403d3f,60px 10px #403d3f,100px 110px #403d3f,110px 110px #502723,70px 130px #cba287,70px 70px #a27547,40px 60px #a27547,40px 50px #a27547,40px 40px #a27547,50px 40px #503b26,60px 40px #a27547,70px 40px #a27547,80px 40px #503b26,50px 50px #f4ae67,50px 60px #f4ae67,60px 60px #f4ae67,60px 50px #f4ae67,70px 50px #f4ae67,120px 120px #cba287,120px 130px #cba287,80px 50px #f4ae67,80px 60px #f4ae67,70px 60px #f4ae67,130px 120px #cba287,130px 110px #cba287,140px 110px #cba287;
// }
//  .frame4 {
//     width : 11px;
//     height : 11px;
//     -webkit-animation : spin2 ease-in-out 7s infinite;
//     animation : spin2 ease-in-out 7s infinite;
//     box-shadow : 30px 80px #3c272a,10px 110px #3c272a,10px 100px #3c272a,20px 90px #3c272a,20px 80px #3c272a,30px 90px #3c272a,30px 70px #3c272a,40px 70px #3c272a,30px 60px #3c272a,30px 50px #3c272a,30px 40px #3c272a,30px 30px #3c272a,40px 30px #3c272a,30px 20px #3c272a,40px 20px #3c272a,30px 10px #3c272a,20px 10px #3c272a,40px 80px #3c272a,40px 90px #3c272a,30px 100px #3c272a,30px 110px #3c272a,40px 100px #3c272a,40px 110px #3c272a,30px 120px #3c272a,40px 120px #3c272a,50px 120px #3c272a,60px 120px #3c272a,80px 120px #3c272a,90px 110px #3c272a,90px 100px #3c272a,50px 140px #3c272a,60px 140px #3c272a,70px 140px #3c272a,70px 150px #3c272a,70px 160px #3c272a,30px 140px #3c272a,30px 150px #3c272a,30px 160px #3c272a,30px 170px #3c272a,0px 120px #502723,0px 130px #502723,30px 130px #502723,40px 130px #502723,30px 180px #502723,30px 190px #502723,70px 120px #502723,40px 140px #403d3f,40px 150px #403d3f,40px 160px #403d3f,80px 140px #403d3f,80px 150px #403d3f,80px 160px #403d3f,50px 130px #793926,60px 130px #793926,80px 130px #793926,80px 180px #793926,80px 190px #793926,70px 110px #793926,70px 100px #793926,70px 90px #793926,70px 80px #793926,120px 110px #793926,80px 170px #3c272a,80px 110px #403d3f,80px 100px #403d3f,80px 90px #403d3f,80px 80px #403d3f,80px 70px #403d3f,60px 70px #403d3f,50px 70px #403d3f,50px 80px #403d3f,60px 80px #403d3f,50px 90px #403d3f,60px 90px #403d3f,60px 100px #403d3f,50px 100px #403d3f,50px 110px #403d3f,60px 110px #403d3f,90px 60px #403d3f,90px 50px #403d3f,90px 40px #403d3f,90px 30px #403d3f,80px 30px #403d3f,80px 20px #403d3f,70px 20px #403d3f,60px 20px #403d3f,50px 20px #403d3f,50px 30px #403d3f,70px 30px #403d3f,60px 30px #403d3f,40px 10px #403d3f,50px 10px #403d3f,60px 10px #403d3f,100px 110px #403d3f,110px 110px #403d3f,70px 130px #cba287,70px 70px #a27547,40px 60px #a27547,40px 50px #a27547,40px 40px #a27547,50px 40px #503b26,60px 40px #a27547,70px 40px #a27547,80px 40px #503b26,50px 50px #f4ae67,50px 60px #f4ae67,60px 60px #f4ae67,60px 50px #f4ae67,70px 50px #f4ae67,80px 50px #f4ae67,80px 60px #f4ae67,70px 60px #f4ae67,130px 110px #cba287,140px 110px #cba287,120px 100px #cba287,120px 90px #cba287,120px 120px #502723,130px 100px #cba287;
// }
//  .frame5 {
//     width : 11px;
//     height : 11px;
//     -webkit-animation : spin3 ease-in-out 7s infinite;
//     animation : spin3 ease-in-out 7s infinite;
//     box-shadow : 30px 80px #3c272a,10px 110px #3c272a,10px 100px #3c272a,20px 90px #3c272a,20px 80px #3c272a,30px 90px #3c272a,30px 70px #3c272a,40px 70px #3c272a,30px 60px #3c272a,30px 50px #3c272a,30px 40px #3c272a,30px 30px #3c272a,40px 30px #3c272a,30px 20px #3c272a,40px 20px #3c272a,30px 10px #3c272a,20px 10px #3c272a,40px 80px #3c272a,40px 90px #3c272a,30px 100px #3c272a,30px 110px #3c272a,40px 100px #3c272a,40px 110px #3c272a,30px 120px #3c272a,40px 120px #3c272a,50px 120px #3c272a,60px 120px #3c272a,80px 120px #3c272a,90px 110px #3c272a,90px 100px #3c272a,50px 140px #3c272a,60px 140px #3c272a,70px 140px #3c272a,70px 150px #3c272a,70px 160px #3c272a,30px 140px #3c272a,30px 150px #3c272a,30px 160px #3c272a,30px 170px #3c272a,0px 120px #502723,0px 130px #502723,30px 130px #502723,40px 130px #502723,30px 180px #502723,30px 190px #502723,70px 120px #502723,40px 140px #403d3f,40px 150px #403d3f,40px 160px #403d3f,80px 140px #403d3f,80px 150px #403d3f,80px 160px #403d3f,50px 130px #793926,60px 130px #793926,80px 130px #793926,80px 180px #793926,80px 190px #793926,70px 110px #793926,70px 100px #793926,70px 90px #793926,70px 80px #793926,120px 110px #793926,80px 170px #3c272a,80px 110px #403d3f,80px 100px #403d3f,80px 90px #403d3f,80px 80px #403d3f,80px 70px #403d3f,60px 70px #403d3f,50px 70px #403d3f,50px 80px #403d3f,60px 80px #403d3f,50px 90px #403d3f,60px 90px #403d3f,60px 100px #403d3f,50px 100px #403d3f,50px 110px #403d3f,60px 110px #403d3f,90px 60px #403d3f,90px 50px #403d3f,90px 40px #403d3f,90px 30px #403d3f,80px 30px #403d3f,80px 20px #403d3f,70px 20px #403d3f,60px 20px #403d3f,50px 20px #403d3f,50px 30px #403d3f,70px 30px #403d3f,60px 30px #403d3f,40px 10px #403d3f,50px 10px #403d3f,60px 10px #403d3f,100px 110px #cba287,110px 110px #cba287,70px 130px #cba287,70px 70px #a27547,40px 60px #a27547,40px 50px #a27547,40px 40px #a27547,50px 40px #503b26,60px 40px #a27547,70px 40px #a27547,80px 40px #503b26,50px 50px #f4ae67,50px 60px #f4ae67,60px 60px #f4ae67,60px 50px #f4ae67,70px 50px #f4ae67,80px 50px #f4ae67,80px 60px #f4ae67,70px 60px #f4ae67,120px 100px #cba287,120px 90px #cba287,130px 110px #502723,110px 100px #cba287;
// }

// /* Animations Below */
// @-webkit-keyframes idle {
//     0% {
//         opacity : 1;
//     }
//     25% {
//         opacity : 1;
//     }
//     25.1% {
//         opacity : 0;
//     }
//     26.9% {
//         opacity : 0;
//     }
//     27% {
//         opacity : 1;
//     }
//     100% {
//         opacity : 1;
//     }
//   }

// @keyframes idle {
//     0% {
//         opacity : 1;
//     }
//     25% {
//         opacity : 1;
//     }
//     25.1% {
//         opacity : 0;
//     }
//     26.9% {
//         opacity : 0;
//     }
//     27% {
//         opacity : 1;
//     }
//     100% {
//         opacity : 1;
//     }
//  }

// @-webkit-keyframes blink {
//     0% {
//         opacity : 0;
//     }
//     1% {
//         opacity : 1;
//     }
//     10% {
//         opacity : 0;
//     }
//     100% {
//         opacity : 0;
//     }
//   }

// @keyframes blink {
//     0% {
//         opacity : 0;
//     }
//     1% {
//         opacity : 1;
//     }
//     10% {
//         opacity : 0;
//     }
//     100% {
//         opacity : 0;
//     }
//  }

// @-webkit-keyframes spin1 {
//     0% {
//         opacity : 0;
//     }
//     24.9% {
//         opacity : 0;
//     }
//     25% {
//         opacity : 1;
//     }
//     25.9% {
//         opacity : 1;
//     }
//     26% {
//         opacity : 0;
//     }
//     100% {
//         opacity : 0;
//     }
//   }

// @keyframes spin1 {
//     0% {
//         opacity : 0;
//     }
//     24% {
//         opacity : 0;
//     }
//     25% {
//         opacity : 1;
//     }
//     27% {
//         opacity : 1;
//     }
//     28% {
//         opacity : 0;
//     }
//     100% {
//         opacity : 0;
//     }
//  }

// @-webkit-keyframes spin2 {
//     0% {
//         opacity : 0;
//     }
//     25% {
//         opacity : 0;
//     }
//     26% {
//         opacity : 1;
//     }
//     28% {
//         opacity : 1;
//     }
//     29% {
//         opacity : 0;
//     }
//     100% {
//         opacity : 0;
//     }
//   }

// @keyframes spin2 {
//     0% {
//         opacity : 0;
//     }
//     25% {
//         opacity : 0;
//     }
//     26% {
//         opacity : 1;
//     }
//     28% {
//         opacity : 1;
//     }
//     29% {
//         opacity : 0;
//     }
//     100% {
//         opacity : 0;
//     }
//  }

// @-webkit-keyframes spin3 {
//     0% {
//         opacity : 0;
//     }
//     26% {
//         opacity : 0;
//     }
//     27% {
//         opacity : 1;
//     }
//     29% {
//         opacity : 1;
//     }
//     30% {
//         opacity : 0;
//     }
//     100% {
//         opacity : 0;
//     }
//   }

// @keyframes spin3 {
//     0% {
//         opacity : 0;
//     }
//     26% {
//         opacity : 0;
//     }
//     27% {
//         opacity : 1;
//     }
//     29% {
//         opacity : 1;
//     }
//     30% {
//         opacity : 0;
//     }
//     100% {
//         opacity : 0;
//     }
//  }
// }
.donjons {
    overflow: hidden;
}
#bag {
    background: #242322;
    color: white;
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    right: 0;
    transition: all 0.6s;
    z-index: 200;

    h2 {
       text-transform: uppercase;
       text-align: center;
    }

    &.open {
        top: 0;
        transition: all 0.6s;

        .open-button {
            background: white;
        }
    }


    .open-button {
        height: 60px;
        width: 60px;
        background: #242322;
        position: absolute;
        bottom: -24px;
        transform: rotate(45deg) translateY(50%) translateX(-50%);
        left: 50%;
        transition: all 0.5s; 
        cursor: pointer;
        transform-origin: 28px 47px;

        &:hover {
            transition: all 0.5s; 
        }
    }

    .inventaire {
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        vertical-align: top;
        height: 100%;
        border-right: 1px solid white;
    }
    .craft-buttons {
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        vertical-align: top;
        height: 100%;
    }

    .description {
        padding: 15px;
        border: 1px solid white;
        visibility: hidden;
        transition: all 0.4s;
        overflow: hidden;

        &.expend {
        visibility: visible;
        transition: all 0.4s;
        }
    }
}

.btn {

    color: #242322;
    padding: 8px 20px;
    border: 1px solid #242322;
    text-decoration: none;
    width: auto;
    outline: none; 
    cursor: pointer;

    &:hover {
        color: white;
        border: 1px solid white;
        background: #242322;
    }

    &.btn--white {
        color: white;
        border: 1px solid white;
        background: #242322;

        &:hover {
            color: #242322;
            border: 1px solid #242322;
            background: white;
        }
    }
}


/******************
*
*      Menu
*
******************/
.hamburger { 
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, -webkit-filter;
    -webkit-transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    -webkit-transition-duration: 0.15s;
    transition-duration: 0.15s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; 
    height: 80px;
    width: 80px;
    position: absolute;
    right: -25px;
    top:-2px;
    z-index: 3000;
    transform: rotate(-45deg);
    outline: none;

    &:hover {
        opacity: 0.7; 
    }

    &.is-active {
        right: -4px;
        top: -23px;
    }
}


.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; 

    .hamburger-inner {
        display: block;
        top: 50%;
        margin-top: -2px; 
        width: 30px;
        height: 3px;
        background-color: white;
        //border-radius: 4px;
        position: absolute;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease; 

        &::before, {
            content: "";
            display: block; 
            top: -7px;
            width: 30px;
            height: 3px;
            background-color: white;
            //border-radius: 4px;
            position: absolute;
            -webkit-transition-property: -webkit-transform;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: ease;
            transition-timing-function: ease; 
        }
        &::after{
            content: "";
            display: block;
            bottom: -7px;
            width: 30px;
            height: 3px;
            background-color: white;
            //border-radius: 4px;
            position: absolute;
            -webkit-transition-property: -webkit-transform;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: ease;
            transition-timing-function: ease; 
        }
    }
}

/*
* Spin
*/

.hamburger--spin.is-active .hamburger-inner, .hamburger--spin.is-active .hamburger-inner::before, .hamburger--spin.is-active .hamburger-inner::after {
    background-color: #242322;
}

.hamburger--spin .hamburger-inner {
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}
.hamburger--spin .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in; 
}
.hamburger--spin .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
}

.hamburger--spin.is-active .hamburger-inner {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transition-delay: 0.14s;
    transition-delay: 0.14s;
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
}

.hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
    transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out; 
}

.hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); 
}


.rooms-container{
    width: 200%;
    height: 70%;
    transition: all 750ms;
    overflow: hidden;

    article{
        float: left;
        height: 70%;
        transition: all 750ms;
    }
    .room{
        width: calc(100% - 40px);
        height: calc(70% - 40px);
        margin: 20px 0 0 20px;
        position: absolute;
        transition: width 750ms;
        border: 1px solid #242322;
        .exit {
            position: absolute;
            left: 15px;
            bottom: 15px;
        }
        .hidden {
            visibility: hidden;
            height: 0;
        }
        &.intro-room {
            background: #242322;
            color: white;
            text-align: center;

            h2 {
                font-family: 'Cabin Sketch', cursive;
                font-size: 50px;
            }

            .btn {
                max-width: 100px;
                margin: 0 auto;
                display: inline-block;;
            }
        }
    }
}


@keyframes in{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes out{
  0%{
    opacity: 1;
  }
  50%{
    margin-right: -500%;
  }
  100%{
    opacity: 0;
  }
}
nav{
  position: fixed;
  top: 33px;
  left: 33px;
  color: #232423;
  font-family: 'Lora', serif;
  font-style: italic;
  span{
    margin-right: 5px;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
  }
}

