.index {
	h1 {
	    font-family: 'Cabin Sketch', cursive;
	    text-align: center;
	    margin: 100px 0; 
	    font-size: 50px;
	    color: #242322;
	}
	p {
		text-align: center;
	}
	.btn {
		margin: 0 auto;
	}

}
