.index {
	overflow: hidden;
	h1 {
		font-family: 'Cabin Sketch', cursive;
		text-align: center;
		margin: 100px 0; 
		font-size: 50px;
		color: #242322;
	}
	p {
		text-align: center;
	}
	.btn {
		margin: 0 auto;
	}
	.bg-black {
		height: 100%;
		width: 100%;
		z-index: 200000;
		background: #242322;
		color: #FFF;
		padding-top: 100px;
		box-sizing: border-box;
		text-align: center;

		h1 {
			color: #FFF;
			margin: 0 0 100px 0;
		}
	}


	.shop {
		margin-top: 50vh; 
		transform: translateY(-50%);
		h1 {
			font-size: 40px;
		}
		display: inline-block;
		width: 25%;
		height: 70vh;
		vertical-align: middle;
		padding: 20px;
		box-sizing: border-box;

		

		.wall {
			border: 1px solid #242322; 
			height: 100%;
			text-align: center;

			.btn {
				text-align: center;
				display: inline-block;
				margin: 0 auto;			
			}
		}
	}
	.town {
		height: 100%;
		width: 100%;
		vertical-align: middle;
	}

	.shopin {
		position: fixed;
		height: 100%;
		width: 100%;
		background: #242322;
		color: #fff;
		top: -100%;
		left: -100%;
		transition: all 1s;
		padding: 3em;
		
		ul {
			max-height: 70%;
			overflow: auto;
			padding: 30px;

			li {
				list-style: none;
				margin-bottom: 30px;
			}
		}

		.quest {
			margin: 50px 0;
			
			h2 {
				text-transform: uppercase;
			}
			p {
				text-align: left;
			}
			span {
				display: inline-block;
				width: 60%;
				margin: 20px 0;
			}
		}
		.js-exit {
			max-width: 150px;
			text-align: center;
		}
		&.open {
			top: 0;
			left: 0;
			transition: all 1s;
		}
	}
	#drugstore {
		left: 100%;
		&.open {
			top: 0;
			left: 0;			
		}
	}
	#guilde {
		left: 100%;
		top:100%;
		&.open {
			top: 0;
			left: 0;			
		}
	}
	.rest {
		background: transparent;
		position: fixed;
		height: 100%;
		width: 100%;
		color: transparent;
		top: -100%;
		right: 0;

		&.open {
			top: 0;
			-webkit-animation: rest 4s linear;
			animation: rest 4s linear;
		}
	}

}

@keyframes "rest" {
	0% {
		color: transparent;
		background: transparent;
	}
	30% {
		color: #fff;
		background: #242322;
	}
	60% {
		color: #fff;
		background: #242322;
	}
	100% {
		color: transparent;
		background: transparent;
	}
}

@-webkit-keyframes "rest" {
	0% {
		color: transparent;
		background: transparent;
	}
	30% {
		color: #fff;
		background: #242322;
	}
	60% {
		color: #fff;
		background: #242322;
	}
	100% {
		color: transparent;
		background: transparent;
	}
}
